@import url(CourseCard.css);
@import url(ColorPalette.css);

@media only screen and (max-width: 800px) {
    .course-title {
        font-size: 38px !important;
    }
}

.assignmentsContainter{
    max-width: 1400px;
}

.eachAssignment{
    background-color: #CBC0D3;
    border-radius: 10px;
    margin-top: 20px;
    padding-top:10px;
    padding-bottom: 10px;
}

.smallBooks{
    max-width: 30px;
}

.even{
    background-color: lightgrey;
}

.odd{
    background-color: white;
    display:flex;
}

.DirContainer{
    max-width: 1400px;
}

.remove{
    border-radius:10px;
    background-color: lightcoral;
}

.add{
    border-radius:10px;
    background-color: lightgreen;
    margin-bottom:20px;
}

.remove:hover{
    background-color: red;
}

.add:hover{
    background-color: green;
    color: white;
}

.Roster{
    font-size:38px;
    font-family: "Lora";
    border-bottom: 2px solid var(--white2);
    margin-bottom: 24px;
}

.Students{
    font-weight: bold;
    font-size: xx-large;
    margin-right: 10px;
}
.course-banner {
    background-color: var(--main-accent-color); /* Default background color*/
    color: var(--text-color);
    padding: 20px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; /* Space below the banner */
    height: 250px;
}

.course-details-body {
    margin: 38px;
}

.course-title {
    font-size: 48px;
}

.add-instructor {
    background-color: var(--lgreen3);
    border: none;
    font-family: "Lora";
    font-size: 15px;
}

.add-instructor:hover {
    background-color: var(--lgreen5);
}