.assignmentsContainter{
    max-width: 1400px;
}

.eachAssignment{
    background-color: #CBC0D3;
    border-radius: 10px;
    margin-top: 20px;
    padding-top:10px;
    padding-bottom: 10px;
}

.smallBooks{
    max-width: 30px;
}

.even{
    background-color: lightgrey;
}

.odd{
    background-color: white;
    display:flex;
}

.DirContainer{
    max-width: 1400px;
}

.remove{
    border-radius:10px;
    background-color: lightcoral;
}

.add{
    border-radius:10px;
    background-color: lightgreen;
    margin-bottom:20px;
}

.remove:hover{
    background-color: red;
}

.add:hover{
    background-color: green;
    color: white;
}

.Roster{
    font-weight:bold;
    font-size:50px;
}

.Students{
    font-weight: bold;
    font-size: xx-large;
    margin-right: 10px;
}