@import url(ColorPalette.css);

.assignmentsContainter{
    max-width: 1400px;
}

.eachAssignment{
    background-color: #CBC0D3;
    border-radius: 10px;
    margin-top: 20px;
    padding-top:10px;
    padding-bottom: 10px;
}

.smallBooks{
    max-width: 30px;
}

.even{
    background-color: lightgrey;
}

.odd{
    background-color: white;
    display:flex;
}

.DirContainer{
    max-width: 1400px;
}

.remove{
    border-radius:10px;
    background-color: lightcoral;
}

.add{
    border-radius:10px;
    background-color: lightgreen;
    margin-bottom:20px;
}

.remove:hover{
    background-color: red;
}

.add:hover{
    background-color: green;
    color: white;
}

.Roster{
    font-weight:bold;
    font-size:50px;
}

.Students{
    font-weight: bold;
    font-size: xx-large;
    margin-right: 10px;
}

/*  */

.directory-body {
    display: flex;
    padding: 38px;
}

.directory-column {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.directory-row {
    background-color: var(--white2);
    /* border: 2px solid var(--white3); */
    height: 40px;
    display: flex;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
}

.legend {
    height: 60px;
    border-bottom: 2px solid var(--white5);
    background-color: var(--white1);
}

.legend .field {
    width: 20%;
    font-size: 24px;
    font-family: 'Lora';
    font-weight: 800;
    text-align: left !important;
}

.odd {
    background-color: var(--white3) !important;
}

.directory-row span {
    display: flex;
    align-items: center;
    width: 20%;
}

.directory-row-name {
    height: auto;
    width: 200px;
    color: var(--black2);
    font-family: 'Lora';
    font-weight: 800;
    text-align: center;
}

@media only screen and (max-width: 2100px) {

    .phone {
        visibility: hidden;
        width: 0px !important;
    }

    .name {
        width: 25% !important;
    }
    .status {
        width: 25% !important;
    }
    .address {
        width: 25% !important;
    }
    .email {
        width: 25% !important;
    }
}

@media only screen and (max-width: 1600px) {

    .phone {
        visibility: hidden;
        width: 0px !important;
    }

    .name {
        width: 33% !important;
    }
    .status {
        width: 33% !important;
    }
    .address {
        width: 0px !important;
        visibility: hidden;
    }
    .email {
        width: 33% !important;
    }
}